.bug-short-overview{
    background-color: #ffffff;
    border-radius:5px;
    width: 300px;
    box-shadow: 2px 0px 4px 0px rgba(182, 182, 182, 0.75);
    padding: 15px;
    padding-bottom:10px;
    cursor:pointer;
    margin-top: 6px;
    position: relative;
}

.selected-indicator{
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    width: 20px;
    background-color: red;
    z-index: 1;
}

.bug-short-info__with-moving-background{
    background: linear-gradient(230deg,#a24bcf,#4b79cf,#4bc5cf);
    background-size: 20% 100%;
}

.labels{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    z-index: 2;
}